WCF/Ucoin.ServiceModel.Server/Configuration/WcfServerConfig.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Ucoin.ServiceModel.Server.Configuration" elementFormDefault="qualified" targetNamespace="Ucoin.ServiceModel.Server.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="wcf.server" type="tns:Ucoin.ServiceModel.Server.Configuration.WcfServerSectionCT" />
	<xs:complexType name="Ucoin.ServiceModel.Server.Configuration.WcfServerSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="service" type="tns:Ucoin.ServiceModel.Server.Configuration.ServiceElementCT">
				<xs:annotation>
					<xs:documentation>The Service.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Ucoin.ServiceModel.Server.Configuration.ServiceElementCT">
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
