WCF/Ucoin.ServiceModel.Client/Configuration/WcfClientConfig.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Ucoin.ServiceModel.Client.Configuration" elementFormDefault="qualified" targetNamespace="Ucoin.ServiceModel.Client.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="wcf.client" type="tns:Ucoin.ServiceModel.Client.Configuration.WcfClientSectionCT" />
	<xs:complexType name="Ucoin.ServiceModel.Client.Configuration.WcfClientSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="services" type="tns:Ucoin.ServiceModel.Client.Configuration.ServiceCollectionCT">
				<xs:annotation>
					<xs:documentation>The Services.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="clients" type="tns:Ucoin.ServiceModel.Client.Configuration.ClientCollectionCT">
				<xs:annotation>
					<xs:documentation>The Clients.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Ucoin.ServiceModel.Client.Configuration.ServiceCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="service" type="tns:Ucoin.ServiceModel.Client.Configuration.ServiceElementCT">
				<xs:annotation>
					<xs:documentation>The ServiceElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Ucoin.ServiceModel.Client.Configuration.ServiceElementCT">
		<xs:attribute name="assembly" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Assembly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Ucoin.ServiceModel.Client.Configuration.ClientCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="client" type="tns:Ucoin.ServiceModel.Client.Configuration.ClientElementCT">
				<xs:annotation>
					<xs:documentation>The ClientElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Ucoin.ServiceModel.Client.Configuration.ClientElementCT">
		<xs:attribute name="address" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Address.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="assembly" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Assembly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
